snippet rs
	require 'spec_helper'

	RSpec.describe ${1: `substitute(substitute(vim_snippets#FileName(), '_spec$', '', ''), '\(_\|^\)\(.\)', '\u\2', 'g')`} do
		${0}
	end
snippet init
	def initialize(${1:arg})
		@${2:$1} = ${3:$1}
	end
